
div.cuerpo{
  padding: 30px;
  text-align: center;
  display: grid;
  grid-column: 25%;
  grid-template-columns: 50% 50%;
  align-content: center;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210827/pngtree-curve-color-block-watercolor-splash-beige-background-image_771090.jpg');
  background-size: auto;
}
.fts{
  text-align: center;
  align-self: center;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210827/pngtree-curve-color-block-watercolor-splash-beige-background-image_771090.jpg');
  background-size: auto;
}
h1{
  color: rgb(57, 27, 0);

}

img{
  border: 5px solid #ccc;
  float:left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

img:hover {
  margin-top: 2px;
}