.info{
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color:blanchedalmond;
}
.infoBack{
  text-align: center;
align-self: center;
background-color: black;
padding: 30px;
padding-left: 30px;
opacity: 0.5;
border-radius:1.5;
}
table{
  font-family: 'Charm', cursive;
  font-size: 22px;
  color: rgb(82, 48, 19);


}
div.cuerpo1{
  padding: 30px;
  display: grid;
  grid-column: 25%;
  grid-template-columns: 50% 50%;
  align-content: center;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210827/pngtree-curve-color-block-watercolor-splash-beige-background-image_771090.jpg');
  background-size: auto;
  font-size: 20px;
}
h2{
  font-family: 'Charm', cursive;
  text-align: center;
  font-size: 40px;
  color: rgb(82, 48, 19);


}